.search-form {
  display: flex;
  justify-content: space-between;
  margin: 20px auto 30px;
  padding: 0 0 10px;
  border-bottom: 1px solid #e8e8e8;
}

.search-form__input {
  color: #a0a0a0;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  border: none;
  padding: 0;
  margin: 0;
}

.search-form__submit {
  margin: 0;
  padding: 4px 10px;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  border: none;
  color: #fff;
  background: #3456f3;
  border-radius: 20px;
}
