.autorization {
  margin: 70px auto 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 396px;
}

.autorization__title {
  margin: 40px auto;
}
.autorization__button {
  margin: 180px auto 0;
  padding: 14px 177px;
  background: #3456f3;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}
.autorization__href {
  margin: 10px auto 0;
  padding: 0;
  text-decoration: none;
  color: #a0a0a0;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.autorization_entrance {
  text-decoration: none;
  color: #3456f3;
}
